button[data-start],
button[data-stop] {
  width: 150px;
  height: 50px;
  background-color: #333;
  font-size: 20px;
  color: #fff;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;

  position: absolute;
  top: calc(50% - 25px);
}

button[data-start] {
  left: calc(50% - 160px);
}

button[data-stop] {
  right: calc(50% - 160px);
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}
